<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <title>Cadastro</title>

  <link rel="stylesheet" href="css/telausuarios/formCadastro.css">
</head>

<body>
<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
<main>
  <form method="post" action="/selecionarTipoUsuario">

    <!-- Campo para selecionar o tipo de usuário -->
    <div>
      <label for="tipoUsuario">Tipo de Usuário:</label>
      <select id="tipoUsuario" name="tipoUsuario">
        <option value="COORDENADOR">Coordenador</option>
        <option value="MONITOR">Monitor</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Selecionar</button>
  </form>
</main>
</body>
</html>